*
{
    transition: .1s;
}

body
{
    font-family: Roboto, sans-serif;
    background-color: #f5f5f5;
}

body, body section, h1
{
    margin: 0em;
    padding: 0em;
}

/*Header*/

header, header > *
{
    width: 100%;
    transition: .5s height ease;
}

header
{
    position: fixed;
    top: 0;
    z-index: 9;
    pointer-events: none;
    background-color: #FF593A;
}

#pre-actionbar
{
    height: 0;
}

#actionbar
{
    /*position: absolute;*/
    /*bottom: 0;*/
    height: 3.75em;
    padding: 0;
    padding-top: .5em;
    padding-bottom: .5em;
    margin: 0em;
    display: flex;
    font-family: 'PT Sans', sans-serif;
    border-bottom: .5em solid #b23e29;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .2);
    pointer-events: none;
}

#actionbar img
{
    max-height: 75%;
    display: inline-block;
    margin: 0em;
    margin-top: .45em;
    margin-right: 1em;
    margin-left: 1em;
    padding: 0em;
}

#actionbar h1
{
    display: inline-block;
    font-size: 24pt;
    margin: 0em;
    padding: 0em;
    padding-top: .45em;
    vertical-align: top;
    /*height: 1em;*/
    line-height: 1em;
    color: white;
}

#actionbar #flex-placeholder
{
    flex: 1;
}

#actionbar #searchbar
{
    width: 15%;
    height: 67.5%;
    margin-top: .65em;
    margin-right: 1em;
    text-align: right;
    background-color: #b23e29;
    border-radius: .25em;
    box-shadow: 1px 4px 12px rgba(0, 0, 0, .2);
    pointer-events: auto;
}

/*TODO: Replace searchbar hover with has focus/child has focus (javascript)*/
#actionbar #searchbar:hover
{
    animation: searchbar-elevation;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

@keyframes searchbar-elevation
{
    from
    {
        margin-top: .65em;
        box-shadow: 1px 4px 12px rgba(0, 0, 0, .2);
    }
    to
    {
        margin-top: .75em;
        box-shadow: 1px 3px 10px rgba(0, 0, 0, .13);
    }
}

#actionbar input
{
    display: inline-block;
    vertical-align: top;
    height: 100%;
    margin: 0em;
    padding: 0em;
}

#actionbar input:first-of-type
{
    width: calc(100% - 2.5em);
    float: left;
    padding-left: .5em;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 15.5pt;
}

#actionbar input:last-of-type
{
    float: right;
}

/*TODO: Make header shadow resize when nav resizes (to margin-left: 20em, transition: .2s)*/
#header-shadow
{
    height: 1px;
    margin-top: -1px;
    margin-left: 4em;
    background: none;
    box-shadow: 6px 2px 5px rgba(0, 0, 0, .4);
    transition: margin-left .2s;
}

a, footer a, nav a
{
    color: inherit;
    text-decoration: none;
}

/*Main*/

main
{
    font-size: 20pt;
    padding-top: 6em;
    margin-left: 0em;
    margin-right: 0em;
    text-align: justify;
}

main > section, .has-default-margin
{
    margin-left: 9.5em;
    margin-right: 8em;
    margin-bottom: 5%;
}

main > h1
{
    margin: 0;
    margin-left: 2.25em;
    margin-bottom: .35em;
}

main a, noscript a
{
    color: #4b8bcf;
}

main a:active, noscript a:active
{
    color: #7eb9ff;
}

/*main a:visited*/
/*{*/
/*color: #ff7a63;*/
/*}*/

#darken-body
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    background-color: black;
    opacity: 0;
    pointer-events: none;
}

#darken-body.mouseover, #darken-body.mouseout
{
    animation: darken;
    animation-timing-function: ease;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

#darken-body.mouseover
{
    pointer-events: all;
}

#darken-body.mouseout
{
    animation-direction: reverse;
}

@keyframes darken
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: .6;
    }
}

h1
{
    font-family: "Source Sans Pro", sans-serif;
    font-size: 86pt;
    font-weight: bold;
    color: black;
}

/*h2*/
/*{*/
    /*font-family: "Roboto", sans-serif;*/
    /*font-weight: 200;*/
    /*font-size: 26pt;*/
/*}*/

h2
{
    font-family: "Source Sans Pro", sans-serif;
    font-size: 26pt;
    font-weight: bold;
    color: #4b8bcf;
    margin-bottom: .2em;
}

select
{
    height: 24pt;
    display: inline;
    vertical-align: baseline;
    font-size: 19pt;
    line-height: 20pt;
    width: auto;
    /*padding-bottom: .1em;*/
    /*padding-top: .1em;*/
    border: none;
    border-bottom: #ff593a solid;
    background-color: transparent;
}

/*Nav*/

aside
{
    position: fixed;
    height: 100%;
    z-index: 8;
    width: 4em;
    padding: 0em;
    padding-top: 5em;
    background-color: rgba(220, 220, 220, .8);
    box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.33);

    background-color: rgba(220, 220, 220, .8);
    box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.33);
    width: 4em;
    transition: .2s;
}

aside.mouseover, aside:hover
{
    background-color: rgba(220, 220, 220, 1);
    box-shadow: 4px 0px 9px rgba(0, 0, 0, 0.55);
    width: 20em;
}

aside nav
{
    /*width: .7em;*/
    width: 100%;
    height: 100%;
    margin: 0em;
}

aside nav ul
{
    list-style: none;
    margin: 0em;
    padding: 0em;
    margin-top: 1em;
}

aside nav ul a
{
    display: block;
    padding-top: .25em;
    padding-bottom: .25em;
}

aside nav ul li
{
    padding: .25em;
    margin: 0em;
    /*margin-bottom: 1em;       Replaced by padding in a to enable a consistent selected nav item*/
    text-align: left;
    max-height: 2.8em;
    white-space: nowrap;
    transition: .1s ease;
}

aside nav ul a:not(:hover) li
{
    padding-top: .45em;
    padding-bottom: .45em;
}

aside ul li.mouseover, aside ul li.mouseout
{
    transition: .25s linear;
    max-height: 3.9em;
}

aside ul li.mouseout
{
    /*animation-direction: reverse;*/
    max-height: 2.8em;
}

aside nav ul a:hover li
{
    padding-top: .9em;
    padding-bottom: .9em;
    background-color: #ff8e7c;
}

.appear-on-nav-extension
{
    display: none;
    margin-left: .4em;
    vertical-align: top;
    font-size: 22pt;
    margin-top: .35em;

    opacity: 0;
    transition: .3s ease;
}

.appear-on-nav-extension.mouseover, aside:hover .appear-on-nav-extension
{
    opacity: 1;
    transition: .2s;
}

aside:not(:hover) ul li:not(.mouseover)
{
    max-width: 4em;
    text-align: center;
}

aside ul img
{
    display: inline;
    max-width: 65%;
    max-height: 2.4em;
    margin: 0;
}

aside ul img.mouseover, aside ul img.mouseout
{
    animation-name: li-img-hover;
    animation-timing-function: linear;
    animation-duration: .125s;
    animation-fill-mode: forwards;
}

aside ul img.mouseout
{
    animation-direction: reverse;
    animation-fill-mode: none;
}

@keyframes li-img-hover
{
    from
    {
        max-height: 2.4em;
        margin-left: .75em;
    }
    to
    {
        max-height: 3em;
        margin-left: .8em;
    }
}

#scroll-link
{
    width: 100%;
    height: 2em;
    position: absolute;
    bottom: 4.5em;
    right: .5em;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14pt;
    line-height: 14pt;
    text-align: center;
    cursor: pointer;
    opacity: .7;
}

aside:not(:hover) #scroll-link
{
    display: none;
}

#scroll-link *
{
    display: inline-block;
}

#scroll-link div
{
    margin-top: .15em;
    vertical-align: top;
}

.scroll-arrow
{
    max-width: 20%;
    max-height: 75%;
    margin-left: .5em;
    margin-right: .5em;
}

/*Footer*/

footer
{
    padding-left: 7.05em;
    padding-right: 2.3em;
    font-size: 12pt;
    background-color: #9F9F9F;
    position: relative;
    z-index: 6;
    box-shadow: 0 -2px 8px 0px rgba(0, 0, 0, 0.32);
}

footer ul, footer span
{
    padding: 0em;
    padding-bottom: 1.75em;
    padding-top: .5em;
    margin: 0em;
    display: inline-block;
}

footer ul li
{
    display: inline-block;
    margin-right: 3em;
    margin-top: .5em;
}

footer span
{
    float: right;
    padding-top: 1em;
}

/*Responsive design*/

@media screen and (max-width: 1280px)
{
    header #searchbar
    {
        width: 25%;
    }
}

@media screen and (max-width: 690px)
{
    footer ul
    {
        padding-bottom: 2em;
    }

    footer span
    {
        display: block;
        float: none;
        padding-top: 0;
    }
}