body
{
    /*padding-top: -2em;*/
    font-family: Roboto, sans-serif;
}

body, body section, h1
{
    margin: 0em;
    padding: 0em;
}

/*Header*/

header, #header-shadow
{
    position: fixed;
    top: 0%;
    z-index: 9;
    height: 3.75em;
    width: 100%;
    padding-top: .5em;
    padding-bottom: .5em;
    margin: 0em;
    display: flex;
    background-color: #FF593A;
    font-family: 'PT Sans', sans-serif;
    border-bottom: .5em solid #b23e29;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .2);
    pointer-events: none;
}

header img
{
    max-height: 75%;
    display: inline-block;
    margin: 0em;
    margin-top: .45em;
    margin-right: 1em;
    margin-left: 1em;
    padding: 0em;
}

header h1
{
    display: inline-block;
    font-size: 2em;
    margin: 0em;
    padding: 0em;
    padding-top: .45em;
    vertical-align: top;
    /*height: 1em;*/
    line-height: 1em;
    color: white;
}

header #flex-placeholder
{
    flex: 1;
}

header #searchbar
{
    width: 15%;
    height: 67.5%;
    margin-top: .65em;
    margin-right: 1em;
    text-align: right;
    background-color: #b23e29;
    border-radius: .25em;
    box-shadow: 1px 4px 12px rgba(0, 0, 0, .2);
    pointer-events: auto;
}

/*TODO: Replace searchbar hover with has focus/child has focus (javascript)*/
header #searchbar:hover
{
    animation: searchbar-elevation;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

@keyframes searchbar-elevation
{
    from
    {
        margin-top: .65em;
        box-shadow: 1px 4px 12px rgba(0, 0, 0, .2);
    }
    to
    {
        margin-top: .75em;
        box-shadow: 1px 3px 10px rgba(0, 0, 0, .13);
    }
}

header input
{
    display: inline-block;
    vertical-align: top;
    height: 100%;
    margin: 0em;
    padding: 0em;
}

header input:first-of-type
{
    width: calc(100% - 2.5em);
    float: left;
    padding-left: .5em;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.3em;
}

header input:last-of-type
{
    float: right;
}

#header-shadow
{
    z-index: 7;
    background: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .4);
}

a
{
    color: inherit;
    text-decoration: none;
}

/*Main*/

main
{
    font-size: 1.7em;
    padding-top: 6em;
    margin-left: 0em;
    margin-right: 0em;
    text-align: justify;
}

main > section
{
    margin-left: 9.5em;
    margin-right: 8em;
    margin-bottom: 5%;
}

main > section > h1
{
    font-family: "Source Sans Pro";
}

main a
{
    color: #4b8bcf;
}

main a:active
{
    color: #7eb9ff;
}

/*main a:visited*/
/*{*/
/*color: #ff7a63;*/
/*}*/

#darken-body
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    pointer-events: none;
    background-color: black;
    opacity: 0;
}

#darken-body.mouseover, #darken-body.mouseout
{
    animation: darken;
    animation-timing-function: ease;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

#darken-body.mouseover
{
    pointer-events: all;
}

#darken-body.mouseout
{
    animation-direction: reverse;
}

@keyframes darken
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: .6;
    }
}

/*Nav*/

aside
{
    position: fixed;
    height: 100%;
    z-index: 8;
    width: 4em;
    padding: 0em;
    padding-top: 5em;
    background-color: rgba(220, 220, 220, .8);
    /*background-color: rgba(220, 220, 220, 1);*/
    box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.33);
}

aside.mouseover, aside.mouseout/*, aside:hover*/
{
    animation-name: aside-hover;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

aside.mouseout
{
    animation-direction: reverse;
    /*animation-fill-mode: backwards;*/
}

@keyframes aside-hover
{
    from
    {
        background-color: rgba(220, 220, 220, .8);
        box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.33);
        width: 4em;
    }
    to
    {
        background-color: rgba(220, 220, 220, 1);
        box-shadow: 4px 0px 9px rgba(0, 0, 0, 0.55);
        /*width: 5.5em;*/
        width: 20em;
    }
}

aside nav
{
    /*width: .7em;*/
    width: 100%;
    height: 100%;
    margin: 0em;
}

aside nav ul
{
    list-style: none;
    margin: 0em;
    padding: 0em;
    margin-top: 1em;
}

aside nav ul a
{
    display: block;
    padding-top: .25em;
    padding-bottom: .25em;
}

aside nav ul li
{
    padding: .25em;
    margin: 0em;
    /*margin-bottom: 1em;       Replaced by padding in a to enable a consistent selected nav item*/
    text-align: left;
    max-height: 2.8em;
    white-space: nowrap;
    transition: .1s ease;
}

aside nav ul a:not(:hover) li
{
    padding-top: .45em;
    padding-bottom: .45em;
}

aside ul li.mouseover, aside ul li.mouseout
{
    animation-name: li-hover;
    animation-timing-function: linear;
    animation-duration: .25s;
    animation-fill-mode: forwards;
}

aside ul li.mouseout
{
    animation-direction: reverse;
}

@keyframes li-hover
{
    from
    {
        max-height: 2.8em;
    }
    to
    {
        max-height: 3.9em;
    }
}

aside nav ul a:hover li
{
    /*background-color: #959595;*/

    /*animation-name: single-li-hover;*/
    /*animation-duration: .1s;*/
    /*animation-fill-mode: forwards;*/

    padding-top: .9em;
    padding-bottom: .9em;
    background-color: #ff8e7c;
}

/*@keyframes single-li-hover*/
/*{*/
    /*from*/
    /*{*/
        /*padding-top: .45em;*/
        /*padding-bottom: .45em;*/
        /*background-color: inherit;*/
    /*}*/
    /*to*/
    /*{*/
        /*padding-top: .9em;*/
        /*padding-bottom: 1.2em;*/
        /*background-color: #ff8e7c;*/
    /*}*/
/*}*/

/*aside nav ul a li > div*/
.appear-on-nav-extension
{
    display: none;
    margin-left: .4em;
}

/*aside nav ul a li > div.mouseover, aside nav ul a li > div.mouseout*/
.appear-on-nav-extension.mouseover, .appear-on-nav-extension.mouseout

{
    display: inline-block;
    vertical-align: top;
    font-size: 1.8em;
    margin-top: .35em;

    animation-name: li-text-hover;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

/*aside nav ul a li > div.mouseout*/
.appear-on-nav-extension.mouseout
{
    /*display: none;*/
    animation-direction: reverse;
    animation-duration: .2s;
}

@keyframes li-text-hover
{
    from
    {
        opacity: 0;
        /*display: none;*/
    }
    to
    {
        opacity: 1;
        /*display: inline-block;*/
    }
}

aside ul li:not(.mouseover)
{
    max-width: 4em;
    text-align: center;
}

aside ul img
{
    display: inline;
    max-width: 65%;
    max-height: 2.4em;
    margin: 0;
}

aside ul img.mouseover, aside ul img.mouseout
{
    animation-name: li-img-hover;
    animation-timing-function: linear;
    animation-duration: .125s;
    animation-fill-mode: forwards;
}

aside ul img.mouseout
{
    animation-direction: reverse;
    animation-fill-mode: none;
}

@keyframes li-img-hover
{
    from
    {
        max-height: 2.4em;
        margin-left: .75em;
    }
    to
    {
        max-height: 3em;
        margin-left: .8em;
    }
}

#scroll-link
{
    display: none;
    width: 100%;
    height: 2em;
    position: absolute;
    bottom: 4.5em;
    right: .5em;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.15em;
    line-height: 1.15em;
    text-align: center;
    cursor: pointer;
    opacity: .25;
}

#scroll-link *
{
    display: inline-block;
}

#scroll-link div
{
    margin-top: .15em;
    vertical-align: top;
}

.scroll-arrow
{
    max-width: 20%;
    max-height: 75%;
    margin-left: .5em;
    margin-right: .5em;
}

/*Footer*/

footer
{
    padding-left: 7.05em;
    padding-right: 2.3em;
    font-size: 1em;
    background-color: #9F9F9F;
    position: relative;
    z-index: 6;
    box-shadow: 0 -2px 8px 0px rgba(0, 0, 0, 0.32);
}

footer ul, footer span
{
    padding: 0em;
    padding-bottom: 1.75em;
    padding-top: 1em;
    margin: 0em;
    display: inline-block;
}

footer ul li
{
    display: inline;
    margin-right: 3em;
}

footer span
{
    float: right;
}

/*Responsive design*/

@media screen and (max-width: 1280px)
{
    header #searchbar
    {
        width: 25%;
    }
}