.whatis
{
    text-align: center;
}

.whatis>*:not(h1)
{
    display: inline-block;
    width: 48%;
    margin-right: 2%;
}

/*Nur falls noch ein <p> element nach dem <img> kommen sollte*/
/*.whatis>p:last-of-type*/
/*{*/
/*width: 32%;*/
/*margin-right: 0em;*/
/*padding-right: 0em;*/
/*}*/

.whatis h1
{
    font-family: Roboto, sans-serif;
    margin-bottom: 1em;
    font-size: 42pt;
}

.whatis p
{
    text-align: justify;
    margin-right: 0em;
}

.whatis img
{
    vertical-align: top;
    margin-top: 1em;
}

/*Responsive design*/
@media screen and (max-width: 1280px)
{
    .whatis
    {
        margin-left: 2.5em;
        margin-right: 0em;
    }

    .whatis img
    {
        /*display: none;*/
        margin-left: 10%;
        margin-right: 10%;
        width: 55%;
    }

    .whatis p
    {
        width: 60%;
        text-align: center;
    }
}

@media screen and (max-width: 980px)
{
    .whatis
    {
        margin-left: 1em!important;
        margin-right: 1em!important;
        margin-bottom: 3em;
    }

    .whatis img
    {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }

    .whatis p
    {
        font-size: 28pt;
        width: 90%;
    }
}